.bottom-nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #18241f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #233029;
  z-index: 20;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #8c9fa4;
  font-size: 12px;
  font-weight: 500;
}

.nav-item.active {
  color: #34d399; /* green highlight */
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}
