/* Full page background */
.prescription-page {
  background-color: #0F1512;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 100px; /* space for bottom nav */
  color: white;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.back-icon {
  color: #d1d5db;
  cursor: pointer;
}

.header-title {
  font-size: 20px;
  font-weight: 600;
}

/* Section title */
.section-title {
  color: #34d399;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 12px;
}

/* Prescription Card */
.prescription-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  background-color: #18241F;
  padding: 14px;
  border-radius: 16px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
}

/* Icon Box */
.icon-box {
  background-color: #233029;
  padding: 10px;
  border-radius: 14px;
}

.icon-green {
  color: #34d399;
}

/* Text box */
.title {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.subtitle {
  font-size: 13px;
  color: #9ca3af;
}
/* Add Button */
.add-btn {
  position: fixed;
  bottom: 85px;
  right: 20px;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background: #34d399;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
/* Popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: #18241f;
  padding: 20px;
  border-radius: 14px;
  width: 85%;
}

.popup-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.popup-input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  background: #233029;
  color: white;
  border: none;
}

.popup-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #34d399;
  border: none;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}
.popup-cancel {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #444;
  border: none;
  color: white;
  cursor: pointer;
}
.action-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.download-icon {
  cursor: pointer;
  color: #2563eb;
}

.download-icon:hover {
  color: #1e40af;
}


.delete-icon{
  align-items: end;
}