.profile-page {
  background: #0F1512;
  min-height: 100vh;
  padding: 10px;
  color: white;
  position: relative;
  padding-bottom: 100px;
}

.profile-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* Top section: avatar + info box */
.profile-top {
  display: flex;
  align-items: center;
  gap: 25px;
  /* margin-top: 40px; */
}

/* Circle image placeholder */
.profile-avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid white;
}

/* Info box */
.profile-info {
  background: #121a17;
  padding: 20px;
  border: 2px solid #ffffff50;
  border-radius: 8px;
  width: 65vw;
}

.profile-text {
  font-size: 16px;
  margin-bottom: 8px;
}

/* Logout Button */
.logout-btn {
  margin-top: 300px;
  width: 100%;
  max-width: 300px;
  padding: 14px;
  background-color: #22C55E;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #1f2924;
}
.lg-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}